<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <head>
      <h1>{{ title }}</h1>
      <div class="navbar">
        <p><a href="/">Home</a> | <a href="/notes/add">ADD Note</a></p>
      </div>
    </head>
  </body>
</html>